{% extends 'base.html' %}
{% block content %}
<section class="profile-section" id="profile">
    <h2 class="profile-title">Profile</h2>
    <div class="profile-content">


        <div class="profile-details">
            <div class="details-container">
                <div class="details-box">
                    <div class="details-inner">
                        <h4 class="details-heading">Details</h4>
                        <p class="details-text">
                        <h6 class="details-bold"><b>Name:</b> {{ user.full_name }}</h6><br>
                        <h6 class="details-bold"><b>Age:</b> {{ user.age }} years</h5><br>
                            <h6 class="details-bold"><b>Location:</b> {{ user.location }}</h6>
                            </p>
                    </div>
                </div>
                <div class="image-box">
                    <div class="image-inner">
                        <div class="pro_file">
                            <i><img src="{{ url_for('static', filename=user.image) }}" alt="Avatar" width="150" /></i>
                        </div>
                        <h4 class="image-heading"> Hello, I'm {{ user.full_name }}</h4>
                        <h6 class="profile-subtitle">I'm a {{ user.specialization }}</h6>

                    </div>
                </div>
                <div class="about-box">
                    <div class="about-inner">
                        <h4 class="about-heading">About me</h4>
                        <p class="about-text">{{ user.about_me }}
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}